@model WedstrijdInzienVM
@{
    ViewData["Title"] = "Detail";
}

<body>
    <div>
        <p>
            @Model.wedstrijd.thuisClub.Name VS @Model.wedstrijd.uitClub.Name <br />
            @Model.wedstrijd.speelDatum
        </p>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <ul>
                @foreach (SpelerVM vm in Model.ThuisTeam)
                {
                    <li class="">
                        @vm.FirstName
                    </li>
                }
            </ul>
        </div>
        <div>
            <ul>
                @foreach (SpelerVM vm in Model.UitTeam)
                {
                    <li class="">
                        @vm.FirstName
                    </li>

                }
            </ul>
        </div>



    </div>


</body>

